# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\github项目\cjs-oauth2-sso-demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
